html {
    font-size: 15px;
    background-color: #F9F7F7;
    margin-left: 40px;
}

nav, a{
    margin-top: 4%;
    text-decoration: none;   
}

.navtitle {
    font-size: 30px;
    margin-right: 70%;
}

h2 {
    text-align: center;
}

footer {
    margin-top: 50%;
    display: flex;
    background-color:#DBE2EF;
}

a {
    margin-right: 1%;
    color: #3F72AF;
}

p {
    color: #112D4E;
}
